<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>seller_id</key>
	<string>2088511938856943</string>
	<key>partner_id</key>
	<string>2088511938856943</string>
	<key>alaypay_private_key</key>
	<string>MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDi0i5PtG3NXdQcMw/9ZcsTGJEK9FOgHbtsqPsk0KmEwQ69ebnqr941+g1T/Ap5m2fsKo7y7sHC9eWuuU9KJy5rR+PHiqH4CgaqGEYOM4pTrDnu9fdEh9zrqHqBujKAifTyzNlF/jTkpJWndu2rEq/xpPlyBrvKhx4dS+WXczse2QIDAQAB</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>香哉</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.77tng.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationAlwaysUsageDescription</key>
	<true/>
	<key>NSLocationUsageDescription</key>
	<string>地图服务有特殊。。。1折</string>
	<key>NSLocationWhenInUseDescription</key>
	<string>确认开启地图导航服务吗</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
