<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1105</key>
	<dict>
		<key>url</key>
		<string>user/forgetpassword</string>
		<key>class</key>
		<string>QSHeaderDataModel</string>
	</dict>
	<key>1104</key>
	<dict>
		<key>url</key>
		<string>promotion/getCoupon</string>
		<key>class</key>
		<string>QSHeaderDataModel</string>
	</dict>
	<key>1103</key>
	<dict>
		<key>url</key>
		<string>promotion/coupList</string>
		<key>class</key>
		<string>QSUserCouponListReturnData</string>
	</dict>
	<key>1042</key>
	<dict>
		<key>url</key>
		<string>userFinance/list</string>
		<key>class</key>
		<string>QSUserStoredCardReturnData</string>
	</dict>
	<key>1102</key>
	<dict>
		<key>url</key>
		<string>user/register</string>
		<key>class</key>
		<string>QSUserRegisterReturnData</string>
	</dict>
	<key>1050</key>
	<dict>
		<key>class</key>
		<string>QSGoodsStapleFoodReturnData</string>
		<key>url</key>
		<string>goods/AppGoodsList</string>
	</dict>
	<key>1002</key>
	<dict>
		<key>url</key>
		<string>user/login</string>
		<key>class</key>
		<string>QSUserLoginReturnData</string>
	</dict>
	<key>1101</key>
	<dict>
		<key>url</key>
		<string>user/AddAddress</string>
		<key>class</key>
		<string>QSHeaderDataModel</string>
	</dict>
	<key>1100</key>
	<dict>
		<key>url</key>
		<string>user/AddressList</string>
		<key>class</key>
		<string>QSUserAddressListReturnData</string>
	</dict>
	<key>1036</key>
	<dict>
		<key>class</key>
		<string>QSGoodsListReturnData</string>
		<key>url</key>
		<string>activity/random</string>
	</dict>
	<key>1001</key>
	<dict>
		<key>class</key>
		<string>QSGoodsListReturnData</string>
		<key>url</key>
		<string>goods/list</string>
	</dict>
	<key>1000</key>
	<dict>
		<key>class</key>
		<string>QSSelectReturnData</string>
		<key>url</key>
		<string>sendPosition/select</string>
	</dict>
	<key>999</key>
	<dict>
		<key>class</key>
		<string>QSDistrictReturnData</string>
		<key>url</key>
		<string>sendPosition/Zone</string>
	</dict>
</dict>
</plist>
